<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.yuaiagent.mapper.SurfaceStationMapper">
    <resultMap id="BaseResultMap" type="com.yupi.yuaiagent.domin.entity.SurfaceStation">
        <id column="station_id" property="stationId"/>
        <result column="area_id" property="areaId"/>
        <result column="x" property="x"/>
        <result column="y" property="y"/>
        <result column="z_initial" property="zInitial"/>
    </resultMap>

    <insert id="insert" parameterType="com.yupi.yuaiagent.domin.entity.SurfaceStation">
        INSERT INTO public.surface_station (station_id, area_id, x, y, z_initial)
        VALUES (#{stationId}, #{areaId}, #{x}, #{y}, #{zInitial})
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT station_id, area_id, x, y, z_initial FROM public.surface_station WHERE station_id = #{stationId}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT station_id, area_id, x, y, z_initial FROM public.surface_station
    </select>

    <select id="selectByAreaId" resultMap="BaseResultMap">
        SELECT station_id, area_id, x, y, z_initial FROM public.surface_station WHERE area_id = #{areaId}
    </select>

    <update id="update" parameterType="com.yupi.yuaiagent.domin.entity.SurfaceStation">
        UPDATE public.surface_station SET area_id = #{areaId}, x = #{x}, y = #{y}, z_initial = #{zInitial}
        WHERE station_id = #{stationId}
    </update>

    <delete id="deleteById">
        DELETE FROM public.surface_station WHERE station_id = #{stationId}
    </delete>
</mapper>
