<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.yuaiagent.mapper.ThreeQuantitiesMapper">
    <resultMap id="BaseResultMap" type="com.yupi.yuaiagent.domin.entity.ThreeQuantities">
        <id column="record_id" property="recordId"/>
        <result column="area_id" property="areaId"/>
        <result column="calc_date" property="calcDate"/>
        <result column="development_reserve" property="developmentReserve"/>
        <result column="preparation_reserve" property="preparationReserve"/>
        <result column="mining_reserve" property="miningReserve"/>
    </resultMap>

    <insert id="insert" parameterType="com.yupi.yuaiagent.domin.entity.ThreeQuantities" useGeneratedKeys="true" keyProperty="recordId">
        INSERT INTO agent.three_quantities (area_id, calc_date, development_reserve, preparation_reserve, mining_reserve)
        VALUES (#{areaId}, #{calcDate}, #{developmentReserve}, #{preparationReserve}, #{miningReserve})
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT record_id, area_id, calc_date, development_reserve, preparation_reserve, mining_reserve
        FROM agent.three_quantities WHERE record_id = #{recordId}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT record_id, area_id, calc_date, development_reserve, preparation_reserve, mining_reserve FROM agent.three_quantities
    </select>

    <select id="selectByAreaId" resultMap="BaseResultMap">
        SELECT record_id, area_id, calc_date, development_reserve, preparation_reserve, mining_reserve
        FROM agent.three_quantities WHERE area_id = #{areaId}
    </select>

    <update id="update" parameterType="com.yupi.yuaiagent.domin.entity.ThreeQuantities">
        UPDATE agent.three_quantities SET area_id = #{areaId}, calc_date = #{calcDate},
        development_reserve = #{developmentReserve}, preparation_reserve = #{preparationReserve}, mining_reserve = #{miningReserve}
        WHERE record_id = #{recordId}
    </update>

    <delete id="deleteById">
        DELETE FROM agent.three_quantities WHERE record_id = #{recordId}
    </delete>
</mapper>
