# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
../rag文档/
../upload/
# 忽略的代码生成器配置文件
*.log
/gradle.xml
/misc.xml
/out/
/target/
/tmp/
/build/
/node_modules/
/dist/
/coverage/
/report/
/reports/
/logs/
/log/
/temp